

$primary-01: #E9F4EA;
$primary-02: #D7EAD9;
$primary-03: #C6E1C8;
$primary-04: #A8D4B3;
$primary-05: #88C697;
$primary-06: #57AF80;
$primary-07: #009F6E;
$primary-08: #00895F;
$primary-09: #00684B ;
$primary-10: #005548;
$primary-11: #003837;
$primary-12: #002D2E;

  
$gray-01:   #EFF2F4;
$gray-02:   #DFE6EA;
$gray-03:   #D5DADD;
$gray-04:   #C6CACC;
$gray-05:   #B2B8BC;
$gray-06:   #99A0A5;
$gray-07:   #80878B;
$gray-08:   #686E71;
$gray-09:   #55595B;
$gray-10:   #3C4448;
$gray-11:   #262F32;
$gray-12:   #1C2629;

$moscow:    #901526;
$moscow-100: scale-color( $moscow, $lightness:  0%);
$moscow-075: scale-color( $moscow, $lightness: 25%);
$moscow-050: scale-color( $moscow, $lightness: 50%);
$moscow-025: scale-color( $moscow, $lightness: 75%);

$delhi:     #E03A4C;
$delhi-100: scale-color( $delhi, $lightness:  0%);
$delhi-075: scale-color( $delhi, $lightness: 25%);
$delhi-050: scale-color( $delhi, $lightness: 50%);
$delhi-025: scale-color( $delhi, $lightness: 75%);

$sao-paulo: #E5989F;
$sao-paulo-100: scale-color( $sao-paulo, $lightness:  0%);
$sao-paulo-075: scale-color( $sao-paulo, $lightness: 25%);
$sao-paulo-050: scale-color( $sao-paulo, $lightness: 50%);
$sao-paulo-025: scale-color( $sao-paulo, $lightness: 75%);

$shanghai:  #F28B32;
$shanghai-100: scale-color( $shanghai, $lightness:  0%);
$shanghai-075: scale-color( $shanghai, $lightness: 25%);
$shanghai-050: scale-color( $shanghai, $lightness: 50%);
$shanghai-025: scale-color( $shanghai, $lightness: 75%);

$new-york:  #FED812;
$new-york-100: scale-color( $new-york, $lightness:  0%);
$new-york-075: scale-color( $new-york, $lightness: 25%);
$new-york-050: scale-color( $new-york, $lightness: 50%);
$new-york-025: scale-color( $new-york, $lightness: 75%);

$oslo:      #93D5F6;
$oslo-100: scale-color( $oslo, $lightness:  0%);
$oslo-075: scale-color( $oslo, $lightness: 25%);
$oslo-050: scale-color( $oslo, $lightness: 50%);
$oslo-025: scale-color( $oslo, $lightness: 75%);

$toronto:   #1F7DBC;
$toronto-100: scale-color( $toronto, $lightness:  0%);
$toronto-075: scale-color( $toronto, $lightness: 25%);
$toronto-050: scale-color( $toronto, $lightness: 50%);
$toronto-025: scale-color( $toronto, $lightness: 75%);

$sydney:    #9F86BE;
$sydney-100: scale-color( $sydney, $lightness:  0%);
$sydney-075: scale-color( $sydney, $lightness: 25%);
$sydney-050: scale-color( $sydney, $lightness: 50%);
$sydney-025: scale-color( $sydney, $lightness: 75%);

$cairo:     #4F2F6C;
$cairo-100: scale-color( $cairo, $lightness:  0%);
$cairo-075: scale-color( $cairo, $lightness: 25%);
$cairo-050: scale-color( $cairo, $lightness: 50%);
$cairo-025: scale-color( $cairo, $lightness: 75%);


$emc:       #8A2658;
$mba:       #F18757;
$emf:       #008FB0;
$gemba:     #8A75B3;

$primary: $primary-09;
$info: $oslo;
$link: $toronto;
$success: $primary-06;
$warning: $shanghai;
$danger: $delhi;
